<div draggable="true"
     @ondragenter="OnDragEnter"
     @ondragleave="OnDragLeave"
     @ondragover="OnDragOver"
     @ondragstart="OnDragStart"
     @ondragend="OnDragEnd"
     @ondrag="OnDrag">
    @Child
</div>