<div id="@id"
     title="@id"
     draggable="true"
     class="@Class"
     @ondragenter="OnDragEnter"
     @ondragleave="OnDragLeave"
     @ondragover="OnDragOver"
     @ondragstart="OnDragStart"
     @ondragend="OnDragEnd"
     @ondrag="OnDrag">
    @ChildContent
</div>
@code {
    [Parameter] public string? id { get; set; }
    [Parameter] public string? Class { get; set; }
}