@page "/"
@using  JC = Weaver.Data.Models;
@using Newtonsoft.Json;
@using Weaver.Shared.JournalComponents;
@using MatBlazor; 

<table style="width:100%;">
    <tr>
        <td style="width: 250px;">
            <div style="white-space: pre-wrap;width:100%">
                @JsonConvert.SerializeObject(JG, Formatting.Indented);
            </div>
        </td>
        <td>
            <MatSlideToggle Label="Edit" @bind-Value="Edit" />
            <MatSlideToggle Label="Building" @bind-Value="Building" />
            <div class="mat-layout-grid" style="width:100%;">
                <JGrid Edit="Edit" Building="Building" Component="JG" ComponentChanged="myhandle" />
            </div>
        </td>
    </tr>
</table>

@code {
    public bool Edit { get; set; } = false;
    public bool Building { get; set; } = false;
    Weaver.Data.Models.JournalGrid? JG;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        var root = new JC.JournalGrid
        {
            Label = "Root",
            Row = 1,
            Col = 1,
        };
        root.Children.Add(new JC.TextField
        {
            Label = "Title:",
            Row = 1,
            Col = 1,
            Parent = root
        });
        root.Children.Add(new JC.TextArea
        {
            Label = "Content:",
            Row = 2,
            Col = 1,
            Height = 270,
            Parent = root
        });
        var list = new JC.RadioList
        {
            Label = "Rad:",
            Row = 3,
            Col = 1,
            Parent = root,
            MappedValue = "b3"
        };
        list.Buttons.AddRange(new string[] { "b1", "b2", "b3", "b4" });
        root.Children.Add(list);

        JG = root;
    }
    private void myhandle(JC.JournalGrid e)
    {
        if (JG is not null)
        {
            JG.Children = e.Children;
        }
    }
}
