@page "/"
@using  JC = Weaver.Data.Models;
@using Newtonsoft.Json;
@using MatBlazor; 

<table style="width:100%;">
    <tr>
        <td style="width: 250px;">
            <div style="white-space: pre-wrap;width:100%">
                @JsonConvert.SerializeObject(JT, Formatting.Indented);
            </div>
        </td>
        <td>
            <MatSlideToggle Label="Edit" @bind-Value="Edit" />
            <MatSlideToggle Label="Building" @bind-Value="Building" />
            <Journal Building="Building" Edit="Edit" @bind-Value="JT" />
        </td>
    </tr>
</table>

@code {
    public bool Edit { get; set; } = false;
    public bool Building { get; set; } = true;
    JC.JournalTemplate JT = new JC.JournalTemplate();
    protected override void OnInitialized()
    {
        base.OnInitialized();
        var root = new JC.JournalGrid
        {
            Label = "Root",
            Position = 0,
        };
        root.Children.Add(new JC.TextField
        {
            Label = "Title:",
            Position = 0,
            Parent = root
        });
        root.Children.Add(new JC.TextArea
        {
            Label = "Content:",
            Position = 1,
            Height = 270,
            Parent = root
        });
        var list = new JC.RadioList
        {
            Label = "Rad:",
            Position = 2,
            Parent = root,
            MappedValue = "b3"
        };
        list.Buttons.AddRange(new string[] { "b1", "b2", "b3", "b4" });
        root.Children.Add(list);

        JT.RootComponents.Add(root);

        var root2 = new JC.JournalGrid
        {
            Label = "Root 2",
            Position = 1,
        };
        root2.Children.Add(new JC.TextField
        {
            Label = "Title:",
            Position = 0,
            Parent = root2
        });
        root2.Children.Add(new JC.TextArea
        {
            Label = "Content:",
            Position = 1,
            Height = 270,
            Parent = root2
        });
        var list2 = new JC.RadioList
        {
            Label = "Rad:",
            Position = 2,
            Parent = root2,
            MappedValue = "b3"
        };
        list2.Buttons.AddRange(new string[] { "b1", "b2", "b3", "b4" });
        root2.Children.Add(list2);
        JT.RootComponents.Add(root2);
    }
}
